__pycache__/
DEV/*
trackio/supporting/*.pdf
trackio/supporting/*.pptx
trackio.egg-info/
build/
*.gpkg
notebooks/example3_Canada_Goose_migrations/North-East American Canada goose migration 2015-2021.csv