DEV/*
trackio/supporting/*.pdf
*.gpkg
*.gpkg
trackio/tools/stats.py
trackio/tools/ais.py
notebooks/runall.ipynb
notebooks/example3_bird_migrations/North-East American Canada goose migration 2015-2021.csv